<!DOCTYPE html>
<html lang="en">
<head>
    <title>Download page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> 
<!--===============================================================================================-->
</head>
<body>
 

    <div class="limiter" >
        <div class="container-login100">
        	<div class="wrap-freeContent">

               <h1 class="home-content" style="color:#000">DOWNLOAD OUR LATEST APP</h1>  
               <p>We offer training and skill building courses across Technology, Design, Management, Science and Humanities. We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>

               <img src="{{ url_for('static', filename='images/login_page.png')}}" alt="IMG" weight="250px" height="500px">
               <img src="{{ url_for('static', filename='images/student_dashboard.png')}}" alt="IMG" weight="250px" height="500px">
               <img src="{{ url_for('static', filename='images/zoom_cred.png')}}" alt="IMG" weight="250px" height="500px">
            </div>    
        </div>
    </div>
    
</body>
</html>