<!DOCTYPE html>
<html lang="en">
<head>
    <title>Free Section</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================--> 
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> 

<!--===============================================================================================-->

</head>
<body>
 

    <div class="limiter" >
        <div class="container-login100">
        	<div class="wrap-freeContent">

               <h1 class="home-content" style="color:#000">Basic coding awareness</h1>  
               <p>We offer training and skill building courses across Technology, Design, Management, Science and Humanities. We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>

               <div style="display:block-inline">    
               	    <iframe title="W3Schools Free Online Web Tutorials" style="padding:24px" width="360" height="240" src="https://www.youtube.com/embed/Ty_L7WkpBtQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               	    <iframe style="padding:24px" width="360" height="240" src="https://www.youtube.com/embed/Ty_L7WkpBtQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               	    <iframe style="padding:24px" width="360" height="240" src="https://www.youtube.com/embed/Ty_L7WkpBtQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               	    <iframe style="padding:24px" width="360" height="240" src="https://www.youtube.com/embed/Ty_L7WkpBtQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>

            </div>    
        </div>
    </div>
    
<!--===============================================================================================-->
</body>
</html>